<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.practice.testservice.TestServiceMapper">

    <select id="getId" parameterType="com.example.practice.persistance.UserVO" resultType="com.example.practice.persistance.UserVO">
        select  id              as id
                , user_id       as userId
                , user_pw       as userPw
                , last_login_dt as lastLoginDt
        from temp_account
        where user_id = #{userId}
    </select>

    <insert id="insertId" parameterType="com.example.practice.persistance.UserVO">
        insert into temp_account(
            user_id
            , user_pw
            , last_login_dt
        ) values (
            #{userId}
            , #{userPw}
            , SYSDATE()
        )
    </insert>

</mapper>